{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false
            }
        ],
        "@babel/preset-typescript"
    ],
    "plugins": [
        "minify-mangle-names",
        "@babel/plugin-proposal-class-properties",
        "babel-plugin-add-import-extension"
    ]
}